// Color Custom
$body-bg: #FFF4E0;
$body-color:#7f5e30;
$theme-colors: (
    primary: #F99292,
    secondary:#FFBC61,
    info:#FFC679,
    danger:#FB7D79,
    light: #FFF4E0,
);
.btn-primary,
.btn-info{
    color: #fff!important;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #7f5e30!important;
}
.card{
    border: none!important;
}
.card-header,
.modal-header,
.modal-footer{
    border-color: #7f5e30!important;
}

// 削除ボタンCSS
.delete_form {
    button {
        position: absolute;
        top: -1.3em;
        right: -1.3em;
        color: rgba(0, 0, 0, 0.5);
        i.fa-times-circle {
            background-color: #fff;
            border-radius: 50%;
        }
    }
}

// ボタンのフォーカス削除
.btn:focus,
.btn.focus {
    outline: none !important;
    box-shadow: none !important;
}

#logo {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.6em;
    margin-bottom: 0.1em;
    margin-left: 0.25rem;
    @media screen and (max-width: 768px){
        font-size: 1.3em;
    }


}

#navbarDropdown img{
    width: 2em;
    height: 2em;
    border: 1px solid #e9ebed;
}

#avatar {
    position: relative;
    display: inline-block;
    img {
        width: 9em;
        height: 9em;
        border: 1px solid #e9ebed;
    }
    #upload-img-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background:rgba(255,255,255,0.8);
        color: #4b4b4b;
        border: 1px solid #e9ebed;
        display: inline-block;
        font-weight: 400;
        padding: 0.1rem 0.5rem;
        font-size: 1.5rem;
        line-height: 1.6;
        border-radius: 50%;
        cursor: pointer;
    }
}

// フッターを最下部にする
body,
#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    margin-top: auto;
}

.nav-menu{
    a {
        padding: 0.25rem 0.5rem;
        clear: both;
        font-weight: 400;
        color: $body-color;
        width: 100%;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        @media screen and (max-width: 768px) {
            display: block;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
